/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  height: 750px;
  font-family: 'Quicksand', sans-serif;
  background-color: #fbfbfb; }

.sidebar {
  display: inline-block;
  width: 390px;
  height: 100%;
  background-color: #5d797a;
  color: #fbfbfb; }
  .sidebar h2 {
    color: #fbfbfb;
    font-size: 12em;
    letter-spacing: -39px;
    font-family: 'Cormorant Garamond', serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #fbfbfb; }
    .sidebar h2 .n:hover {
      color: #7cc3c5; }
    .sidebar h2 .r:hover {
      color: #7cc3c5;
      z-index: 2; }
    .sidebar h2 .a:hover {
      color: #7cc3c5;
      z-index: 3; }
  .sidebar .myInfo {
    margin-top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em; }
    .sidebar .myInfo .occupation {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
    .sidebar .myInfo li {
      margin-top: 5px; }
      .sidebar .myInfo li a {
        text-decoration: none;
        cursor: crosshair;
        color: #fbfbfb; }
      .sidebar .myInfo li a:hover {
        color: #7cc3c5;
        text-decoration: underline; }
    .sidebar .myInfo .name {
      font-size: 1.50em;
      margin-left: 35px; }
    .sidebar .myInfo .about {
      margin-top: 10px;
      padding-top: 15px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5em;
      border-bottom: 1px solid #fbfbfb;
      margin-bottom: 10px; }
      .sidebar .myInfo .about i {
        margin-left: 80px; }
    .sidebar .myInfo .about:hover {
      color: #7cc3c5;
      cursor: crosshair;
      border-bottom: 1px solid #7cc3c5; }
    .sidebar .myInfo .myWork {
      margin-top: 10px;
      padding-top: 15px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.5em;
      border-bottom: 1px solid #fbfbfb;
      margin-bottom: 10px; }
      .sidebar .myInfo .myWork i {
        margin-left: 100px; }
    .sidebar .myInfo .myWork:hover {
      color: #7cc3c5;
      cursor: crosshair;
      border-bottom: 1px solid #7cc3c5; }
    .sidebar .myInfo .contact {
      margin-top: 10px;
      padding-top: 15px;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .sidebar .myInfo .contact .contactMe {
        font-size: 1.5em;
        border-bottom: 1px solid #fbfbfb;
        margin-bottom: 10px; }
        .sidebar .myInfo .contact .contactMe i {
          margin-left: 45px; }
      .sidebar .myInfo .contact .contactMe:hover {
        color: #7cc3c5;
        cursor: crosshair;
        border-bottom: 1px solid #7cc3c5; }
      .sidebar .myInfo .contact .contactLinks {
        letter-spacing: 35px;
        border: none; }
        .sidebar .myInfo .contact .contactLinks i:hover {
          color: #7cc3c5;
          cursor: crosshair; }
    .sidebar .myInfo .links {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }

.mainContent {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  width: 850px;
  height: 750px;
  font-size: 1.75em;
  font-family: 'Cormorant Garamond', serif;
  color: #1b2424;
  overflow: scroll; }
  .mainContent img {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 430px;
    width: auto; }
  .mainContent p {
    text-align: center;
    margin: 10px;
    font-size: 1em; }
  .mainContent li {
    margin-left: 50px;
    list-style: circle;
    font-size: .75em; }
  .mainContent .myWorkStuff {
    border-bottom: 1px solid #7cc3c5;
    padding-bottom: 10px;
    margin-left: 22px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 1.5em; }
  .mainContent .projects {
    height: 225px;
    width: 800px;
    margin-left: 20px;
    margin-bottom: 15px; }
    .mainContent .projects .projectImg {
      display: inline-block;
      height: 225px;
      width: 225px; }
      .mainContent .projects .projectImg img {
        height: 100%;
        width: 100%; }
    .mainContent .projects .projectInfo {
      display: inline-block;
      vertical-align: top;
      width: 550px; }
      .mainContent .projects .projectInfo h2 {
        font-size: 1.5em;
        text-align: center; }
      .mainContent .projects .projectInfo p {
        font-size: .75em;
        margin-top: 2px;
        text-align: left; }
      .mainContent .projects .projectInfo ul {
        display: inline-block;
        width: 220px; }
        .mainContent .projects .projectInfo ul li {
          font-size: .75em; }
    .mainContent .projects .rightSide {
      display: inline-block;
      width: 220px;
      vertical-align: top; }
      .mainContent .projects .rightSide a {
        text-decoration: none;
        vertical-align: top;
        cursor: crosshair;
        color: #1b2424; }
      .mainContent .projects .rightSide a:hover {
        color: #7cc3c5;
        text-decoration: underline; }
  .mainContent .contactInfo {
    width: 800px;
    margin-left: 22px;
    font-size: 1.25em;
    margin-top: 35px;
    margin-bottom: 600px; }
    .mainContent .contactInfo h2 {
      text-align: center;
      font-size: 1.25em;
      border-bottom: 1px solid #7cc3c5; }
    .mainContent .contactInfo p {
      text-align: left;
      font-size: .66em; }
      .mainContent .contactInfo p a {
        text-decoration: none;
        color: #1b2424; }
      .mainContent .contactInfo p i {
        color: #7cc3c5;
        margin-right: 12px; }

/*# sourceMappingURL=styles.css.map */
